@media (max-width: 600px) {
  * {
    width: 400px;
  }
}
p, ul > li, ol > li {
  line-height: 2;
}
#Contact_Information {
  background-color: #4D4C7D;
  line-height: 1;
}
body {
  background-color: #D0C9C0;
  font-family: Tahoma;
}
#navbar {
  width: 400px;
  height: 600px;
  float: left;
}
.bold {
  font-weight: 700;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  color: purple;
}
h1, h2, h3, h4 {
  font-family: arial;
  font-weight: 800
  font-size: 18px;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
nav > ul > li:hover {
background-color: #9A86A4;
color: #827397;
cursor: pointer;
}
nav > ul > li {
  padding: 15px;
  display: block;
  margin: 0 0.2rem;
}
